.navbar-list {
    list-style-type: none;  
    padding: 0;  
    margin: 0;  

  }
  .navbar-list li {
    display: inline-block; 
    margin-right: 20px; 
  }

  .navbar-list li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: small;
  }